In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("train.csv",low_memory=False)

### Data Inspection and Exploratory Data Analysis

In [19]:
#Observando tamanho do dataset
df.shape

print(f"Qtd. linhas: {df.shape[0]} \nQtd. colunas: {df.shape[1]}")

Qtd. linhas: 100000
Qtd. colunas: 28

In [20]:
#Obtendo informações gerais do dataset (Colunas com valores não nulos e tipos de dados)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

##### OBS: É possível visualizar que existem campos com valores nulos e que com tipos de dados trocados. 
##### Ex: Age é um dado inteiro, porém está como string. 

##### Estes dados serão tratados na etapa de data cleaning.

In [21]:
#explorando melhor os valores nulos
df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

##### Alguns dos valores nulos fazem sentido não terem dados, como: Salário base da pessoa (pode ser desempregada), tipo de empréstimo (a pessoa pode não ter pego empréstimo), média de pagamentos atrasados (pode ser que sempre pague sem atrasos), quanidade investida (pode não ter investimentos), etc...

In [22]:
#Verificando a presença de dados duplicados 
df_verifing_duplicated = df.copy()
df_verifing_duplicated = df_verifing_duplicated.drop(columns=['ID'])

duplicados = df_verifing_duplicated.duplicated().sum()
duplicados

0

##### O dataset não possui duplicatas.

##### OBS: Foi removido o ID da tabela para que apenas os dados dos clientes fossem analisados.

In [23]:
#Avaliando as regras de negócio das colunas do tipo string e variação das colunas numéricas
col = df.columns

for c in col:
    
    print(f'COLUNA: {c}')
    print(df.groupby([f'{c}'])[f'{c}'].count())
    print("\n\n")
   


for c in col:
    
    print(f'COLUNA: {c}')
    print(df[f'{c}'].describe())
    print("\n\n")

COLUNA: ID
ID
0x10002    1
0x10003    1
0x10004    1
0x10005    1
0x10006    1
          ..
0xfff9     1
0xfffa     1
0xfffb     1
0xfffc     1
0xfffd     1
Name: ID, Length: 100000, dtype: int64



COLUNA: Customer_ID
Customer_ID
CUS_0x1000    8
CUS_0x1009    8
CUS_0x100b    8
CUS_0x1011    8
CUS_0x1013    8
             ..
CUS_0xff3     8
CUS_0xff4     8
CUS_0xff6     8
CUS_0xffc     8
CUS_0xffd     8
Name: Customer_ID, Length: 12500, dtype: int64



COLUNA: Month
Month
April       12500
August      12500
February    12500
January     12500
July        12500
June        12500
March       12500
May         12500
Name: Month, dtype: int64



COLUNA: Name
Name
 Mattr       7
 Mattx       6
 Stevei      7
 Stevep      8
 Thomasf     7
            ..
tg           8
ty           8
yi          14
yk           8
yv          15
Name: Name, Length: 10139, dtype: int64



COLUNA: Age
Age
-500    886
100       1
1004      1
1006      1
1010      1
       ...
989       1
99        1
992       1
993       1
995       1
Name: Age, Length: 1788, dtype: int64



COLUNA: SSN
SSN
#F%$D@*&8      5572
000-08-1349       8
000-40-3312       8
000-58-0568       8
000-60-0688       8
               ...
999-79-9012       7
999-84-9578       7
999-92-7186       8
999-95-7259       8
999-99-3421       7
Name: SSN, Length: 12501, dtype: int64



COLUNA: Occupation
Occupation
Accountant       6271
Architect        6355
Developer        6235
Doctor           6087
Engineer         6350
Entrepreneur     6174
Journalist       6085
Lawyer           6575
Manager          5973
Mechanic         6291
Media_Manager    6232
Musician         5911
Scientist        6299
Teacher          6215
Writer           5885
_______          7062
Name: Occupation, dtype: int64



COLUNA: Annual_Income
Annual_Income
10001727.0    1
10003.495     7
10003.495_    1
10004.805     8
100058.19     7
             ..
99984.48      8
9999.42       7
9999.42_      1
99990.78      8
99995.22      8
Name: Annual_Income, Length: 18940, dtype: int64



COLUNA: Monthly_Inhand_Salary
Monthly_Inhand_Salary
303.645417      8
319.556250      7
332.128333      7
332.431250      6
333.596667      6
               ..
15101.940000    8
15115.190000    7
15136.696667    7
15167.180000    8
15204.633333    7
Name: Monthly_Inhand_Salary, Length: 13235, dtype: int64



COLUNA: Num_Bank_Accounts
Num_Bank_Accounts
-1          21
 0        4328
 1        4490
 2        4304
 3       11950
         ...
 1786        1
 1789        2
 1793        1
 1794        2
 1798        2
Name: Num_Bank_Accounts, Length: 943, dtype: int64



COLUNA: Num_Credit_Card
Num_Credit_Card
0          13
1        2132
2        2149
3       13277
4       14030
        ...
1495        1
1496        2
1497        3
1498        3
1499        2
Name: Num_Credit_Card, Length: 1179, dtype: int64



COLUNA: Interest_Rate
Interest_Rate
1       2683
2       2465
3       2765
4       2589
5       4979
        ...
5775       1
5776       1
5788       1
5789       1
5797       1
Name: Interest_Rate, Length: 1750, dtype: int64



COLUNA: Num_of_Loan
Num_of_Loan
-100     3876
0       10380
0_        550
1       10083
100         1
        ...
991         1
995         1
996         1
999         1
9_        160
Name: Num_of_Loan, Length: 434, dtype: int64



COLUNA: Type_of_Loan
Type_of_Loan
Auto Loan                                                                                                                                   1152
Auto Loan, Auto Loan, Auto Loan, Auto Loan, Credit-Builder Loan, Credit-Builder Loan, Mortgage Loan, and Personal Loan                         8
Auto Loan, Auto Loan, Auto Loan, Auto Loan, Student Loan, and Student Loan                                                                     8
Auto Loan, Auto Loan, Auto Loan, Credit-Builder Loan, Payday Loan, Not Specified, Payday Loan, Student Loan, and Debt Consolidation Loan       8
Auto Loan, Auto Loan, Auto Loan, Not Specified, Debt Consolidation Loan, and Credit-Builder Loan                                               8
                                                                                                                                            ...
Student Loan, and Mortgage Loan                                                                                                              192
Student Loan, and Not Specified                                                                                                              160
Student Loan, and Payday Loan                                                                                                                256
Student Loan, and Personal Loan                                                                                                              176
Student Loan, and Student Loan                                                                                                               216
Name: Type_of_Loan, Length: 6260, dtype: int64



COLUNA: Delay_from_due_date
Delay_from_due_date
-5      33
-4      62
-3     118
-2     168
-1     210
      ...
 63     69
 64     64
 65     56
 66     32
 67     22
Name: Delay_from_due_date, Length: 73, dtype: int64



COLUNA: Num_of_Delayed_Payment
Num_of_Delayed_Payment
-1     308
-1_      8
-2     223
-2_     11
-3      91
      ...
972      1
974      1
98       1
996      1
9_     147
Name: Num_of_Delayed_Payment, Length: 749, dtype: int64



COLUNA: Changed_Credit_Limit
Changed_Credit_Limit
-0.009999999999999787       4
-0.01999999999999957        3
-0.020000000000000014       3
-0.029999999999999805       1
-0.030000000000000027       1
                         ...
9.97                       97
9.98                       63
9.989999999999998           2
9.99                       80
_                        2091
Name: Changed_Credit_Limit, Length: 4384, dtype: int64



COLUNA: Num_Credit_Inquiries
Num_Credit_Inquiries
0.0        6972
1.0        7588
2.0        8028
3.0        8890
4.0       11271
          ...
2588.0        1
2589.0        2
2592.0        2
2594.0        1
2597.0        1
Name: Num_Credit_Inquiries, Length: 1223, dtype: int64



COLUNA: Credit_Mix
Credit_Mix
Bad         18989
Good        24337
Standard    36479
_           20195
Name: Credit_Mix, dtype: int64



COLUNA: Outstanding_Debt
Outstanding_Debt
0.23      8
0.34      8
0.54      8
0.56      8
0.77      8
         ..
998.95    8
999.12    8
999.25    8
999.36    8
999.48    8
Name: Outstanding_Debt, Length: 13178, dtype: int64



COLUNA: Credit_Utilization_Ratio
Credit_Utilization_Ratio
20.000000    1
20.100770    1
20.172942    1
20.244130    1
20.257073    1
            ..
49.064277    1
49.254983    1
49.522324    1
49.564519    1
50.000000    1
Name: Credit_Utilization_Ratio, Length: 100000, dtype: int64



COLUNA: Credit_History_Age
Credit_History_Age
0 Years and 1 Months       2
0 Years and 10 Months     79
0 Years and 11 Months     77
0 Years and 2 Months      15
0 Years and 3 Months      20
                        ...
9 Years and 5 Months     246
9 Years and 6 Months     212
9 Years and 7 Months     219
9 Years and 8 Months     251
9 Years and 9 Months     261
Name: Credit_History_Age, Length: 404, dtype: int64



COLUNA: Payment_of_Min_Amount
Payment_of_Min_Amount
NM     12007
No     35667
Yes    52326
Name: Payment_of_Min_Amount, dtype: int64



COLUNA: Total_EMI_per_month
Total_EMI_per_month
0.000000        10613
4.462837            8
4.713184            8
4.865690            8
4.916139            8
                ...
82193.000000        1
82204.000000        1
82236.000000        1
82256.000000        1
82331.000000        1
Name: Total_EMI_per_month, Length: 14950, dtype: int64



COLUNA: Amount_invested_monthly
Amount_invested_monthly
0.0                    169
10.010194262612963       1
10.011424795004293       1
10.03659960594723        1
10.053768350640556       1
                      ...
999.285277314897         1
999.7085009554547        1
999.8146215137691        1
999.8610676363429        1
__10000__             4305
Name: Amount_invested_monthly, Length: 91049, dtype: int64



COLUNA: Payment_Behaviour
Payment_Behaviour
!@9#%8                               7600
High_spent_Large_value_payments     13721
High_spent_Medium_value_payments    17540
High_spent_Small_value_payments     11340
Low_spent_Large_value_payments      10425
Low_spent_Medium_value_payments     13861
Low_spent_Small_value_payments      25513
Name: Payment_Behaviour, dtype: int64



COLUNA: Monthly_Balance
Monthly_Balance
0.007759664775335295                1
0.08862786534905354                 1
0.09548249601976977                 1
0.13113565109563294                 1
0.366147079459779                   1
                                   ..
999.69114329249                     1
999.7651967290767                   1
999.791751664955                    1
999.8134716639598                   1
__-333333333333333333333333333__    9
Name: Monthly_Balance, Length: 98792, dtype: int64



COLUNA: Credit_Score
Credit_Score
Good        17828
Poor        28998
Standard    53174
Name: Credit_Score, dtype: int64



COLUNA: ID
count     100000
unique    100000
top       0x1602
freq           1
Name: ID, dtype: object



COLUNA: Customer_ID
count        100000
unique        12500
top       CUS_0xd40
freq              8
Name: Customer_ID, dtype: object



COLUNA: Month
count      100000
unique          8
top       January
freq        12500
Name: Month, dtype: object



COLUNA: Name
count      90015
unique     10139
top       Langep
freq          44
Name: Name, dtype: object



COLUNA: Age
count     100000
unique      1788
top           38
freq        2833
Name: Age, dtype: object



COLUNA: SSN
count        100000
unique        12501
top       #F%$D@*&8
freq           5572
Name: SSN, dtype: object



COLUNA: Occupation
count      100000
unique         16
top       _______
freq         7062
Name: Occupation, dtype: object



COLUNA: Annual_Income
count       100000
unique       18940
top       36585.12
freq            16
Name: Annual_Income, dtype: object



COLUNA: Monthly_Inhand_Salary
count    84998.000000
mean      4194.170850
std       3183.686167
min        303.645417
25%       1625.568229
50%       3093.745000
75%       5957.448333
max      15204.633333
Name: Monthly_Inhand_Salary, dtype: float64



COLUNA: Num_Bank_Accounts
count    100000.000000
mean         17.091280
std         117.404834
min          -1.000000
25%           3.000000
50%           6.000000
75%           7.000000
max        1798.000000
Name: Num_Bank_Accounts, dtype: float64



COLUNA: Num_Credit_Card
count    100000.00000
mean         22.47443
std         129.05741
min           0.00000
25%           4.00000
50%           5.00000
75%           7.00000
max        1499.00000
Name: Num_Credit_Card, dtype: float64



COLUNA: Interest_Rate
count    100000.000000
mean         72.466040
std         466.422621
min           1.000000
25%           8.000000
50%          13.000000
75%          20.000000
max        5797.000000
Name: Interest_Rate, dtype: float64



COLUNA: Num_of_Loan
count     100000
unique       434
top            3
freq       14386
Name: Num_of_Loan, dtype: object



COLUNA: Type_of_Loan
count             88592
unique             6260
top       Not Specified
freq               1408
Name: Type_of_Loan, dtype: object



COLUNA: Delay_from_due_date
count    100000.000000
mean         21.068780
std          14.860104
min          -5.000000
25%          10.000000
50%          18.000000
75%          28.000000
max          67.000000
Name: Delay_from_due_date, dtype: float64



COLUNA: Num_of_Delayed_Payment
count     92998
unique      749
top          19
freq       5327
Name: Num_of_Delayed_Payment, dtype: object



COLUNA: Changed_Credit_Limit
count     100000
unique      4384
top            _
freq        2091
Name: Changed_Credit_Limit, dtype: object



COLUNA: Num_Credit_Inquiries
count    98035.000000
mean        27.754251
std        193.177339
min          0.000000
25%          3.000000
50%          6.000000
75%          9.000000
max       2597.000000
Name: Num_Credit_Inquiries, dtype: float64



COLUNA: Credit_Mix
count       100000
unique           4
top       Standard
freq         36479
Name: Credit_Mix, dtype: object



COLUNA: Outstanding_Debt
count      100000
unique      13178
top       1360.45
freq           24
Name: Outstanding_Debt, dtype: object



COLUNA: Credit_Utilization_Ratio
count    100000.000000
mean         32.285173
std           5.116875
min          20.000000
25%          28.052567
50%          32.305784
75%          36.496663
max          50.000000
Name: Credit_Utilization_Ratio, dtype: float64



COLUNA: Credit_History_Age
count                      90970
unique                       404
top       15 Years and 11 Months
freq                         446
Name: Credit_History_Age, dtype: object



COLUNA: Payment_of_Min_Amount
count     100000
unique         3
top          Yes
freq       52326
Name: Payment_of_Min_Amount, dtype: object



COLUNA: Total_EMI_per_month
count    100000.000000
mean       1403.118217
std        8306.041270
min           0.000000
25%          30.306660
50%          69.249473
75%         161.224249
max       82331.000000
Name: Total_EMI_per_month, dtype: float64



COLUNA: Amount_invested_monthly
count         95521
unique        91049
top       __10000__
freq           4305
Name: Amount_invested_monthly, dtype: object



COLUNA: Payment_Behaviour
count                             100000
unique                                 7
top       Low_spent_Small_value_payments
freq                               25513
Name: Payment_Behaviour, dtype: object



COLUNA: Monthly_Balance
count                                98800
unique                               98792
top       __-333333333333333333333333333__
freq                                     9
Name: Monthly_Balance, dtype: object



COLUNA: Credit_Score
count       100000
unique           3
top       Standard
freq         53174
Name: Credit_Score, dtype: object

##### Como previamente observado, alguns campos numéricos estão como string. Existem dados como string poluindo os dados numéricos que precisam ser tratados.

#### OBS: O erro na tentativa de conversão a seguir apresenta esse problema na coluna Monthly_Balance

In [24]:
df['Monthly_Balance'] = df['Monthly_Balance'].apply(lambda x: float(x))

ValueError: could not convert string to float: '__-333333333333333333333333333__'